.board{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: cornflowerblue;
    text-align: center;
    width: 170px;
    height: 60px;
    border-radius: 4px;
    font-size: 20px;
}

.h3 {
    color: red;
    font-size: 35px;
}

.button {
    background-color: cornflowerblue;
    margin: 2px;
    border-radius: 10px;
    border: solid cornflowerblue 2px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
