
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    background-color: cornflowerblue;
    margin: 2px;
    border-radius: 10px;
    border: solid cornflowerblue 2px;
}

.container_input{
    display: flex;
    flex-direction: column;
    background-color: cornflowerblue;
    margin: 2px;
    border-radius: 10px;
    border:solid cornflowerblue 2px;
}

input {
    margin-left: 10px;
    padding: 1px 3px 1px 3px;
    width: 60px;
}

.item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2px 5px 2px 5px;
}